<!--Program created by Zachary Dokouzian 8/21/2015
Program will convert between Fahr/Cel/Kel temperatures, and update the 2 other fields based
on what was entered into the third. Also uses angular.js to color the text, so green
represents the modified field, and blue represents the fields calculated from the 
modified field. -->

<!DOCTYPE html>
<html ng-app>

  <head>
  	<title>Angular.JS temperature converter</title>
    <!--for whatever reason, I had to use the legacy version of angular instead of the most up to date version, not sure why-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
    <script src="script.js"></script>
  </head>

  <body>
  	<div ng-controller="TemperatureConverterCtrl">
    	<p ng-style="style1"><input type="number" ng-model="fahrenheit" ng-change="markEdited('F'); style1={color:'green'}; style2={color:'blue'}; style3={color:'blue'}"/>Fahrenheit</p>
    	<p ng-style="style2"><input type="number" ng-model="celsius" ng-change="markEdited('C'); style1={color:'blue'}; style2={color:'green'}; style3={color:'blue'}"/>Celsius</p>
    	<p ng-style="style3"><input type="number" ng-model="kelvin" ng-change="markEdited('K'); style1={color:'blue'}; style2={color:'blue'}; style3={color:'green'}"/>Kelvin</p>
    </div>
  </body>

</html>